{% extends 'main.html' %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'shop/css/shop_main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-brand.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block title %} О нас{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="title">О нас</h1>
        <ul class="navigation">
            <li class="link"><a href="{% url 'homepage' %}" class="visited-link">Главная</a></li>
            <li class="link"><a href="{% url 'about-brand' %}" class="current-page">О нас</a></li>
        </ul>

        <div class="banner">
            <div class="banner-idea-woman">
{#                <img src="{% static 'img/idea-woman.jpg' %}" alt="Идея и женщина">#}
                <div class="banner-about-brand">
                    <h3 id="title_3">KROSBOX</h3>
                    <ul class="about-info">
                        <li class="banner-idea-txt">K R O S B O X - Это место, где вы найдете самые модные и удобные кроссовки от ведущих мировых брендов.
                            Мы предлагаем широкий ассортимент кроссовок для мужчин, женщин и детей, чтобы каждый мог найти пару, которая подойдет именно ему.
                            Мы также предлагаем широкий выбор стилей и цветов, чтобы каждый мог найти кроссовки, которые подойдут к его стилю и предпочтениям.
                            Мы также предлагаем быструю и удобную доставку, чтобы вы могли получить свои кроссовки в кратчайшие сроки.
                        </li>
                        <li class="banner-idea-txt">CROSBOX - Шаг за шагом к своей цели.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-idea-woman">
                <div class="banner-about-founder">
                    <h3 id="title_3">История создания</h3>
                    <ul class="about-info">

                        <li class="banner-idea-txt">Однажды в Санкт-Петербурге жил молодой парень по имени Александр. Он был большим любителем кроссовок и всегда следил за новинками в мире спортивной обуви. Однажды он решил, что хочет открыть свой магазин кроссовок, где сможет делиться своей страстью с другими людьми.
Александр начал искать подходящее место для своего магазина и нашел небольшое помещение в центре города. Он потратил много времени на ремонт и оформление магазина, чтобы создать уютную атмосферу для своих клиентов.
Затем Александр начал искать поставщиков кроссовок. Он общался с различными компаниями и выбрал тех, кто предлагал лучшие условия и качественные товары. Он также начал изучать рынок и конкурентов, чтобы понимать, какие модели кроссовок пользуются наибольшим спросом.
Когда магазин был готов к открытию, Александр начал проводить рекламные кампании в социальных сетях и на улицах города. Он также пригласил своих друзей и знакомых на открытие магазина, чтобы они могли оценить ассортимент и атмосферу магазина.
С первых дней работы магазин пользовался большим спросом. Александр был рад, что его мечта о создании магазина кроссовок стала реальностью. Он продолжал работать над улучшением ассортимента и обслуживания клиентов, чтобы магазин стал еще более популярным в городе.
                        </li>
                    </ul>

                </div>
{#                <img src="{% static 'img/магазин2.jpg' %}" alt="Магия в деталях" class="banner-idea-img">#}
            </div>
        </div>
        <div class="banner center">
            <a href="{% url 'shop' %}" class=" btn-text "> Открыть магазин</a>
        </div>
    </div>
{% endblock %}